.home {
  background-color: white;
  flex: 1;
  overflow-y: auto;
  padding: 32px;
  &__list {
    height: calc(100% - 42px - 8px);
    margin-top: 8px;
  }
  &__search {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    width: 100%;
    height: 42px;
    padding-left: 4px;
  }
}

iframe {
  display:  none;
}
